.noto-sans-font {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: thin;
  font-style: normal;
}

.container{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap; 
}

.container-vertical{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5%;
}

.container > .container-full {
    width: 100%;
}
.container > .container-90 {
    width: 90%;
}

.container > .container-80 {
    width: 80%;
}

.container > .container-70 {
    width: 70%;
}

.container > .container-60 {
    width: 60%;
}
.container > .container-50 {
    width: 50%;
}

.container > .container-40 {
    width: 40%;
}
.container > .container-35 {
    width: 35%;
}

.container > .container-48 {
    width: 48%;
}

.container > .container-30 {
    width: 30%;
}

.container > .container-20 {
    width: 20%;
}

.container > .container-10 {
    width: 20%;
}

.container > .container-5 {
    width: 5%;
}

.card{
    background-color: rgb(16, 16, 16);
    border-radius: 15px;    
}

.card-mobile{
    background-color: rgb(16, 16, 16);
    border-bottom-left-radius: 15px; 
    border-top-left-radius: 15px;   
}

.font-big{
    font-size: larger;
}

.button-next{
    width: 50px; 
    height: 50px;
    border: 0;
    border-radius: 100px;
    background-color:transparent;
    color: rgb(192, 192, 192);
    font-size:60px;
    font-weight: bolder;
}

.button-next:hover{
    cursor: pointer;
    color: white;
}


.proyect-media-btn{
    border: 0;
    background-color:rgb(198, 195, 0);
    color: azure;
    height: 50px;
    width: 100px;
    font-size: larger;
    border-radius: 15px;

}

.proyect-media-btn:hover{
    background-color:rgb(228, 225, 0);
    color: rgb(215, 252, 252);
    cursor: pointer;
}

.navbar {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    padding: 0 40px;
    border-bottom: 5px solid rgb(202, 202, 0);

}

.aside-card{
    background-color: rgb(182, 182, 0); 
    height: 100%; 
    border-right: 15px; 
    border-bottom-right-radius: 15px; 
    border-top-right-radius: 15px; 
    width: 20%;
}

.img-languages{
    height:50px;
}

.footer-img{
    object-fit: cover;
    width:100px;
    height:100px;
}

.mobile-yes{
    display: none;
}


ul {
    border-radius: 15px;
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    flex-direction: row;
    float: left;
}

main{
    margin: 40px;
    margin-top: 100px;
}

ol{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li{
    margin: 20px;
}



a.ar{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 10px;
}

a.ar:hover{
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
}

body{
    margin: 0;
    background-color: #080808;
    color: aliceblue;
}

footer {
    justify-content: center;
    margin-top: 100px;
    height: 180px;
    padding: 10px;
    background-color: rgb(182, 182, 0);
}



@media only screen and (max-width: 800px) {
  body {
    margin: 0;
  }
  .container{
    margin-top: 10%;
        flex-direction:column;
        display:grid;
        font-size: small; 
    }
    
    .container > .container-full {
        width: 100%;
    }
    .container > .container-90 {
        width: 100%;
    }

    .container > .container-80 {
        width: 100%;
    }

    .container > .container-70 {
        width: 100%;
    }

    .container > .container-60 {
        width: 100%;
    }
    .container > .container-50 {
        width: 100%;
    }

    .container > .container-40 {
        width: 100%;
    }
    .container > .container-35 {
        width: 100%;
    }

    .container > .container-48 {
        width: 100%;
    }

    .container > .container-30 {
        width: 100%;
    }

    .container > .container-20 {
        width: 100%;
    }

    .container > .container-10 {
        width: 100%;
    }

    .container > .container-5 {
        width: 100%;
    }

    .img-languages{
        height:100%;
    }

    .footer-img{
        width:50px;
        height:50px;
    }

    footer{
        height: 80px;
    }

    .mobile-no{
        display: none;
    }
    .mobile-yes{
        display: grid;
    }


}